.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button--primary {
  @apply bg-primary-900 text-white;
}
.storybook-button--secondary {
  @apply text-grayscale-900 bg-transparent border-1 border-grayscale-900 border-solid;
}
.storybook-button--disabled {
  @apply text-grayscale-500 bg-grayscale-300 border-1 border-grayscale-300 border-solid;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
